.faq{

    padding:100px 0;

    background:#ffffff;

}

.faq-list{

    max-width:900px;

    margin:0 auto;

}

.faq-item{

    border:1px solid #e5e7eb;

    border-radius:18px;

    margin-bottom:18px;

    overflow:hidden;

}

.faq-question{

    width:100%;

    padding:24px;

    background:#fff;

    border:none;

    cursor:pointer;

    text-align:left;

    font-size:18px;

    font-weight:700;

}

.faq-answer{

    padding:0 24px 24px;

}

.faq-answer p{

    color:#6b7280;

    line-height:1.8;

}