@media(max-width:992px){

.main-navigation{

display:none;

}

.header-container{

height:74px;

}

}

@media(max-width:768px){

.hero-grid{

grid-template-columns:1fr;

}

.hero{

padding:70px 0;

}

.hero h1{

font-size:42px;

}

}