.whatsapp-float{

	position:fixed;

	right:25px;

	bottom:25px;

	width:64px;

	height:64px;

	border-radius:50%;

	background:#25D366;

	color:#fff;

	display:flex;

	align-items:center;

	justify-content:center;

	box-shadow:0 15px 40px rgba(0,0,0,.25);

	z-index:9999;

	transition:.25s;

}

.whatsapp-float:hover{

	transform:scale(1.08);

}

.whatsapp-float svg{

	width:34px;

	height:34px;

}